argparse ~= 1.1
importlib-metadata ~= 1.6
toml ~= 0.10
pysam ~= 0.16
bx-python ~= 0.8
biopython ~= 1.7
numpy ~= 1.18
bcbio-gff ~= 0.6
cupcake @ git+https://github.com/milescsmith/cDNA_Cupcake.git@prune
pygmst @ git+https://github.com/milescsmith/pygmst.git
