# Based on https://www.leahwasser.com/how-to-setup-testing-python-environments-github-actions
name: Run tests in conda

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'master'

jobs:
  test-on-conda:
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Free disk space (remove unneeded packages & Docker images)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get clean
          sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc
          docker rmi $(docker images -q) || true
          df -h
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3.1.1
        with:
          miniconda-version: 'latest'
          channels: conda-forge,bioconda,anaconda,r,defaults
          environment-file: SQANTI3.conda_env.yml
          activate-environment: sqanti3
          auto-activate-base: false
      - name: List conda packages
        run: |
          conda list
      - name: Test numpy dependency
        run: |
          python3 -c "import numpy"
      - name: Run pytest
        run: |
          pytest
